<div class="border" style="background-color: rgba(255, 255, 255, 0);;"  >

  <mat-toolbar
    style="background-color: rgba(255, 255, 255, 0); padding: 0; justify-content: space-between;;" flex >
    <span
      style="font-family: 'Pacifico', cursive; font-size: 2rem; "
      >Pay<span
      style=" color: #7EC1F3;"
      >Card</span>
    </span>
    <!-- <span class="spacer"></span> -->
    <molecule-link-list></molecule-link-list>
    <atom-button
        [matButton]= true
        text="Login"
        color="#ffff "
        bgColor="#4C87E8"
        fontSize="1rem"
        borderRadius="15px"
        borderButton="2px solid #fff">
      </atom-button>
</mat-toolbar>
</div>
