<form
    class="flex flex-column align-items-center">
    <atom-input
      label="Enter your email"
      inputType="text"
      placeholder="maria@gmail.com"
      [showIcon]="true"
      icon = 'person'
    ></atom-input>
    <atom-input
      label="Enter your password"
      inputType="password"
      [showIcon]="true"
      icon = 'password'
    ></atom-input>
    <atom-input
      label="Enter your email"
      inputType="text"
      placeholder="maria@gmail.com"
      [showIcon]="true"
      icon = 'person'
    ></atom-input>
    <atom-button
      [matButton]=true
      bgColor="#ACD9B2"
      color="#FFFFFF"
      width="248px"
      height="56px"
      text="Login"
    ></atom-button>
</form>

