<div class="map-view flex  align-items-center">

  <molecule-text-card
    class="map-view text justify-content-center"
    fontSizeTitle="4vw"
    fontFamily="'Roboto', sans-serif"
    fontWeight="bold"
    colorTitle="#291a4a"
    title="Balance your<br>Best Interest <br>Mindful money"
    fontSizeSubtitle="1.4vw"
    colorSubtitle="#4E4D77"
    subtitle="It is a long established fact that a reader will be distracted by the readable content of a page."
    textButton="Create an account">
  </molecule-text-card>
  <div style="padding-right: 45px;">
  <atom-img
    alt="faces map"
    src="../../../../assets/img/card-two.png"
    width="42vw"
    height="auto">
  </atom-img>
  </div>
</div>

